:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  background: radial-gradient(circle at 10% 20%, #f5e6ff, #f1f5ff 60%, #fff);
  color: #120c24;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
